<html ng-app="app" class="no-js" lang=“HTML5 ">
  <head>
    <meta charset="utf-8 ">
    <meta http-equiv="x-ua-compatible " content="ie=edge ">
    <meta name="viewport " content="width=device-width, initial-scale=1.0 ">
    <title>
    </title>
	  <script data-require="angular.js@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0/angular.js"></script>
  	<script data-require="angular-resource@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0/angular-route.js"></script>
	  <script data-require="angular-resource@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0/angular-resource.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <script type="text/javascript" src="website.js"></script>
    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u " crossorigin="anonymous ">
    <link rel="stylesheet " href="lightslider/css/lightslider.css ">      
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet " href="styles.css ">
  </head>
  <body ng-controller="appctrl ">
    <header ng-include=" 'templates/header.html' "></header>
    <section class="about-netvue ">
        <img style="max-height:300px; " src="images/business-back1.png "/> <div class="container ">
<h2>
  NetView Technologies (Shenzhen) Co. Ltd. An innovative technology company focusing on the R&amp;D and promotion of cloud-based
  Smarthome products.
</h2>
<p>
  With our first-class hardware and software development team, we provide customers worldwide with complete solution of mobile
  internet smart devices.
  <br/><br/> The company was founded in June 2010, a collaboration of the management team and technology team of a leading
  Chinese camera manufacturer, an eminent scientist in the field of multimedia codec and communication technology (IEEE Fellow,
  Tsinghua University professor, Director of the Tsinghua University Research Center of the Internet of Things), and other
  investors.
</p>
<h2>
  The company has 41 Chinese &amp; U.S. patents and software copyright, A number of technologies for domestic and foreign initiative.
</h2>
<div class="row">
  <div class="col-sm-6">
    <h2>Including</h2>
    <ul>
      <li><b>2</b> Chinese invention patents authorization</li>
      <li><b>6</b> invention patents pending</li>
      <li><b>12</b> patents for utility models and ID patents authorization</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h2>and</h2>
    <ul>
      <li><b>4</b> U.S. patents pending</li>
      <li><b>11</b> software copyrights already received</li>
      <li><b>6</b> software copyrights pending</li>
    </ul>
  </div>
</div>
<br/>
<p><b>(The company&#39;s products include Internet based cameras, door bells, baby monitors, and the
          cloud platform services that provide all devices work together.)</b></p>
<p style="text-align:center;"><b>Products include network camera, baby monitor, smart switch, home weather station, air
          quality monitor, motion alarm, and cloud-based software platform to control and
          coordinate the devices.</b>>
</p>
<h2>
  The company&#39;s proven cloud platform （Has been operating steadily for many years）
</h2>
<img src="images/cloud.png" />
<p>
  Provides customers all over the world with real-time multimedia data and remote control service. Currently, we are dedicated
  to opening up existing platform, collaborating with third-party partners, and combining cloud computer and big data analytic
  to create more value for our customers.
</p>
</div>
<div class="business-dark-strip">
  <div class="container">
    <h1>Features of Mynetvue Cloud Platform</h1>
    <ul>
      <div class="row">
      <div class="col-sm-6 left">
        <li>
          <h2>Global coverage:</h2>
          <p> Mynetvue cloud platform based on AWS(Amazon Web Services, the world’s largest cloud services provider), operates
            in four continents, seven data centers and 29 nodes to ensure customers to access cloud platform anywhere.</p>
        </li>
      </div>
      <div class="col-sm-6 right">
        <li>
          <h2>High availability:</h2>
          <p>Mynetvue provides load balancing and disaster recovery across data centers. The availability of
          cloud platform reached 99.9999%.</p>
        </li>
      </div>
      </div><div class="row">
      <div class="col-sm-6 left">
        <li>
          <h2>High scalability:</h2>
          <p>Mynetvue combined load balancing with auto scaling. Auto Scaling can automatically increase the
          corresponding server resources when cloud’s users and devices increased drastically.</p>
        </li>
      </div>
      <div class="col-sm-6 right">
        <li>
          <h2>High security:</h2>
          <p>Use private encryption protocol to ensure customer privacy.</p>
        </li>
      </div>
      </div><div class="row">
      <div class="col-sm-6 left">
        <li>
          <h2>Exclusive OEM management system:</h2>
          <p>Netview provides OEM customers independent online service management platform to
          manage the information of every device and user and watch the usage of resources.</p>
        </li>
      </div>
      <div class="col-sm-6 right">
        <li>
          <h2>Social network:</h2>
          <p>Mynetvue allows users to share device’s status/data to social network.</p>
        </li>
      </div>
      </div><div class="row">
      <div class="col-sm-6 left">
        <li>
          <h2>Event-driven service:</h2>
          <p>Mynetvue will send notifications to users via email/ SMS/ APP or immediately or execute the
          tasks according to user defined triggers.</p>
        </li>
      </div>
      <div class="col-sm-6 right">
        <li>
          <h2>Data mining services.</h2>
          <p></p>
        </li>
      </div>
      </div><div class="row">
      <div class="col-sm-6 left">
        <li>
          <h2>Quick Response</h2>
          <p>Response to API requests in 24ms. Push notification in 3s. Supports millions of concurrent access.</p>
        </li>
      </div></div>
    </ul>
  </div>
</div>
</div>
</section>
<section class="company-logos ">
  <div class="container ">
    <ul>
      <li><img src="images/logo1.jpg " /></li>
      <li><img src="images/logo2.png " /></li>
      <li><img src="images/logo3.png " /></li>
      <li><img src="images/logo4.jpg " /></li>
    </ul>
  </div>
</section>
<section class="more-info ">
  <div class="container">
    <section class="form">
      <div class="container ">
        <h2>Would you like to know more?</h2>
        <p>If you would like to learn more about any of our products or place an order with us, please fill in the information
          before and send us a message, alternatively you can Contact us directly by using our contact information at our
          <a
            href="/support#contact">Contact Page</a>
        </p>
        <form novalidate class="simple-form">
          <div class="row ">
            <div class="col-xs-12 col-sm-4 col-sm-push-2">
              <label>Name</label>
              <input type="text " class="form-control name" id="name" name="name" placeholder="name" ng-model="name" required>
              <label>Email</label>
              <input type="email " class="form-control" id="email" name="email" placeholder="email" ng-model="email" required>
              <label>Website</label>
              <input type="text " class="form-control" id="website" name="website " placeholder="website" ng-model="website" required>
              <label>Job Title</label>
              <input type="text " class="form-control" id="job" name="job " placeholder="job title" ng-model="job" required>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-push-2">
              <label>Phone number</label>
              <input type="text " class="form-control" id="phone" name="phone " placeholder="phone number" ng-model="phone" required>
              <label>Message</label>
              <textarea class="form-control" id="msg" name="message" rows="4" ng-model="msg" required></textarea>
            </div>
          </div>
          <div class="submit-button">
            <input class="submit btn" type="submit" id="submit" name="submit" value="Contact Us Today" ng-disabled="cf.$invalid">
          </div>
        </form>
      </div>
    </section>
  </div>
  <footer ng-include="'templates/footer.html'"></footer>
</body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
  <script type="text/javascript " src="lightslider/js/lightslider.min.js "></script>
  <script type="text/javascript " src="main.js "></script>
</html>