    <div class="container flex">
      <!-- <ul>
        <li><a href="# ">Legal</a></li>
        <li><a href="# ">Terms and Conditions</a></li>
        <li><a href="# ">Privacy Policy</a></li>
        <li><a href="# ">Refunds/Returns Policy</a></li>
      </ul> -->
      <ul>
        <li><a href="/support.html">Support</a></li>
        <li><a href="/support.html#faq">FAQs</a></li>
        <li><a href="/support.html#downloads">Downloads</a></li>
        <li><a href="/support.html#media">Media</a></li>
        <li><a href="/support.html#contact">Contact</a></li>
      </ul>
      <ul>
        <li><a href="/products-all.html ">Products</a></li>
        <li><a href="/business.html ">Business</a></li>
        <li><a href="/news.html">News</a></li>
      </ul>
      <ul class="social-media-list ">
        <li>Follow us: <b>/mynetvue</b></li>
        <li class="social-media-item "><a href="facebook.com/mynetvue " class="facebook "></a></li>
        <li class="social-media-item "><a href="twitter.com/mynetvue " class="twitter "></a></li>
        <!-- <li class="social-media-item "><a href="linkedin.com " class="linked "></a></li> -->
        <li class="social-media-item "><a href="youtube.com/channel/UCt5Mhr0sgLVUVq1aFnURWCQ " class="youtube "></a></li>
        <!--<li class="social-media-item "><a href="google " class="google "></a></li>-->
        <li class="social-media-item "><a href="instagram.com/mynetvue " class="instagram "></a></li>
      </ul>
      <ul>
        <li><a href="# ">Contact</a></li>
        <li><a href="# ">Tel: +86 4326 6346</a></li>
        <li><a href="mailto:info@netvue.com ">Email: info@netvue.com</a></li>
        <li><a href="# ">Fax: +86 2342 6546</a></li>
      </ul>
    </div>