<!--<div class="super-topbar ">
  <div class="container">
    <div class="separate-content ">
      <div class="top-bar-left ">
        <label>language |</label>
        <ul>
          <li><i class="chinese"></i>中文</li>
          <li><i class="english"></i>English</li>
        </ul>
      </div>
      <div class="top-bar-right ">
            <a href="# ">Log in </a>
            <label> | </label>
            <a href="# "> Register</a>
          </div>
    </div>
  </div>
</div> -->
<div class="sub-topbar ">
  <div class="container relative">
    <nav class="menu-bar ">
      <a href="index.html" class="logo "><img style="width:147px;"src="images/netvue_logo.png" alt="netvue-logo "></a>
      <ul class="menu-items">
        <li id="dropdownTrigger" class="dropdown-trigger">
          <a href="products-all.html">Products</a>
        </li>
        <nav id="dropdownTarget" class="submenu product-categories-menu">
          <ul>
            <li><a href="products-all.html#/doorbells"><img src=" "><span>Video Doorbells</span></a></li>
            <li><a href="products-all.html#/cameras"><img src=" "><span>Security Cameras</span></a></li>
            <!--NO SPACE HERE BECAUSE OF WHITESPACE-->
          </ul>
        </nav>
        <li>
          <a href="business.html">Business</a>
        </li>
        <li>
          <a href="news.html">News</a>
        </li>
        <li>
          <a href="support.html">Support</a>
        </li>
      </ul>
      <!-- <div class="top-bar-right ">
          <form method="get " action=" " class="search " id="searchform-inline " enctype="text/plain ">
            <input type="search " value=" " placeholder="Search " name="search ">
            <button type="submit " class="button secondary "></button>
          </form>
        </div> -->
    </nav>

  </div>
</div>