//BECAUSE OF HOW THE JS IS INPUT, PARTIALS CANNOT CONTAIN SLIDERS, THIS I JUST A REFERENCE//
<div class="news-article-slider-container ">
  <h2>More News from Netvue</h2>
  <ul id="news-article-slider" class="news-article-slider ">
    <li>
      <a href="/news-ces17.html"><img src="images/ces17.png " />
                <h3>Whatever Title</h3>
                <p>lets you customize your motion sensors, so you’ll always be the first to know when you have a visitor. With infrared night vision and a weather-resistant design</p>
                <p><b>Read More ></b></p>
              </a>
    </li>
    <li>
      <a href="/news-techcrunch17.html"><img src="images/techcrunch17.png " />
                <h3>Whatever Title</h3>
                <p>lets you customize your motion sensors, so you’ll always be the first to know when you have a visitor. With infrared night vision and a weather-resistant design</p>
                <p><b>Read More ></b></p>
              </a>
    </li>
    <li>
      <a href="/news-netvuebelle.html "><img src="images/vuebelle.png " />
                <h3>Whatever Title</h3>
                <p>lets you customize your motion sensors, so you’ll always be the first to know when you have a visitor. With infrared night vision and a weather-resistant design</p>
                <p><b>Read More ></b></p>
              </a>
    </li>
    <li>
      <a href="/news.html">
        <h2>More News</h2>
        <h3>Articles</h3>
        <p>See all of the recent news from Netvue or subscribe and learn about special offers and promotions as they're announced</p>
        <p><b>Read More ></b></p>
      </a>
    </li>
  </ul>
</div>